<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
       <a href="#" class="navbar-brand">Knjiga recepata</a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <!-- <li><a href="#" (click)="onSelect('recept')">Recept</a></li>           Verzija prva
          <li><a href="#" (click)="onSelect('shopingLista')">Kupovna lista</a></li>   Verzija prva -->
          <li routerLinkActive="active"><a routerLink="/recipes">Recepti</a></li>
          <li routerLinkActive="active"><a routerLink="/shopping-list">Kupovna lista</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" appDropdown>
            <a class="dropdown-toggle" role="button" style="cursor: pointer;">Upravljanje<span class="caret"></span></a>
            <!-- <a href="#" class="dropdown-toggle" role="button" >Upravljanje<span class="caret"></span></a>    verzija jedan-->
             <ul class="dropdown-menu">
               <!-- <li><a href="#">Save data</a></li>  verzija jedan-->
               <!-- <li><a href="#">Fetch data</a></li>  verzija jedan -->
               <li><a style="cursor: pointer;">Save data</a></li>
               <li><a style="cursor: pointer;">Fetch data</a></li>
             </ul>
          </li>
        </ul>

    </div>

  </div>
</nav>
