<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
       <a href="#" class="navbar-brand">Knjiga recepata</a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" *ngIf="isAutenticated">
            <a routerLink="/recipes" >Recepti</a>
          </li>
          <li routerLinkActive="active" *ngIf="isAutenticated">
            <a routerLink="/shopping-list">Kupovna lista</a>
          </li>
          <li routerLinkActive="active" *ngIf="!isAutenticated">
            <a routerLink="/autorizacija">Logiranje</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="isAutenticated">
            <a style="cursor: pointer;">Logout</a>
          </li>
          <li class="dropdown" appDropdown *ngIf="isAutenticated">
            <a class="dropdown-toggle" role="button" style="cursor: pointer;">Upravljanje<span class="caret"></span></a>
            <!-- <a href="#" class="dropdown-toggle" role="button" >Upravljanje<span class="caret"></span></a>    verzija jedan-->
             <ul class="dropdown-menu">
               <!-- <li><a href="#">Save data</a></li>  verzija jedan-->
               <!-- <li><a href="#">Fetch data</a></li>  verzija jedan -->
               <li><a style="cursor: pointer;" (click)="onSaveData()">Snimi sve recepte u bazu</a></li>
               <li><a style="cursor: pointer;"(click)="usnimiRecepte()">Povuci recepte iz baze</a></li>
             </ul>
          </li>
        </ul>

    </div>

  </div>
</nav>
