<!-- <a href="#" class="list-group-item clearfix" (click)="selektirano()" > verzija jedan -->
<!-- *** style="cursor: pointer;" *** pretvara znak strelice u znak ruke na misu -->
<!-- <a style="cursor: pointer;" class="list-group-item clearfix" (click)="selektirano()" >  verzija jedan-->
<a
style="cursor: pointer;"
[routerLink]="[index]"
routerLinkActive="active"
class="list-group-item clearfix"  >
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{index +1}}-{{receptDetalj.name}} </h4>
      <p class="list-group-item-text">{{receptDetalj.description}}  Redni br.={{index}}</p>
      <p>app-recipes-item</p>
  </div>

  <span class="pull-right">
    <img src="{{receptDetalj.imagePath}}" alt="{{receptDetalj.name}}" class="img-responsive" style="max-height: 50px;">
  </span>

</a>
